<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../../src/css/formBs.min.css">
  <link rel="stylesheet" href="../../../../src/css/chart.css">
  <link rel="stylesheet" href="../../../../src/components/swiper/swiper.min.css">
  <link rel="stylesheet" href="../../../../assets/font/fontawesome-free/css/all.css">
  <link rel="shortcut icon" href="../../../../assets/img/Cloche_food_kitchen_restaurant_icon-512.png"
    type="image/x-icon">

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <title>Restaurante | Dashboard</title>
</head>

<body>
  <section>
    <div>
      <div>
        <i style="margin-right: 1rem;" class="fas fa-hotdog"></i>
      </div>
      <div>
        <h2 id="refeicoesCardapio"></h2>
        <label for="#">Total de refeições em cardápio</label>
      </div>
    </div>
    <div>
      <div>
        <i style="margin-right: 1rem;" class="fas fa-user-friends"></i>
      </div>
      <div>
        <h2 id="clientes"></h2>
        <label for="#">Total de clientes</label>
      </div>
    </div>
    <div>
      <div>
        <i style="margin-right: 1rem;" class="fas fa-shopping-bag"></i>
      </div>
      <div>
        <h2 id="reservas"></h2>
        <label for="#">Total de reservas</label>
      </div>
    </div>
    <div>
      <div>
        <i style="margin-right: 1rem;" class="fas fa-user"></i>
      </div>
      <div>
        <h2 id="usuarios"></h2>
        <label for="#">Total de usuários</label>
      </div>
    </div>
  </section>
  <section>
    <div class="chart-container">
      <div class="chart1"></div>
      <div class="chart2"></div>
      <!--<div class="chart3"></div>
      <div class="chart4"></div>-->
    </div>
  </section>
</body>
<script src="../../../../api/index.js"></script>
<script>
  let api = new Api()
  
  api.send({
    table: "refeicao",
    method: "all",
    data: {
      allPage: true
    }
  }).then(({ data })=>{
    refeicoesCardapio.innerText = data.length
  });

  api.send({
    table: "cliente",
    method: "all",
    data: {
      allPage: true
    }
  }).then(({ data })=>{
    clientes.innerText = data.length
  });

  api.send({
    table: "reserva",
    method: "all",
    data: {
      allPage: true
    }
  }).then(({ data })=>{
    reservas.innerText = data.length
  });

  api.send({
    table: "usuario",
    method: "all",
    data: {
      allPage: true
    }
  }).then(({ data })=>{
    usuarios.innerText = data.length
  });

  var options = {
  chart: {
    type: 'line'
  },
  series: [{
    name: 'sales',
    data: [30,40,35,50,49,60,70,91,125]
  }],
  xaxis: {
    categories: [1991,1992,1993,1994,1995,1996,1997, 1998,2021]
  }
}

new ApexCharts(document.querySelector(".chart1"), {
          series: [{
          name: 'series1',
          data: [31, 40, 28, 51, 42, 109, 100]
        }, {
          name: 'series2',
          data: [11, 32, 45, 32, 34, 52, 41]
        }],
          chart: {
          height: 350,
          type: 'area'
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth'
        },
        xaxis: {
          type: 'datetime',
          categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
        },
        tooltip: {
          x: {
            format: 'dd/MM/yy HH:mm'
          },
        },
        }).render();

new ApexCharts(document.querySelector(".chart2"), {
          series: [44, 55, 41, 17, 15],
          chart: {
          type: 'donut',
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        }).render();

new ApexCharts(document.querySelector(".chart3"), options).render();

new ApexCharts(document.querySelector(".chart4"), options).render();

</script>
</html>