<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../../src/css/formBs.min.css">
  <link rel="stylesheet" href="../../../../src/css/chart.css">
  <link rel="stylesheet" href="../../../../src/components/swiper/swiper.min.css">
  <link rel="stylesheet" href="../../../../assets/font/fontawesome-free/css/all.css">
  <link rel="shortcut icon" href="../../../../assets/img/Cloche_food_kitchen_restaurant_icon-512.png"
    type="image/x-icon">
  <title>Restaurante | Dashboard</title>
</head>

<body>
  <section>
    <div>
      <div>
        <i style="margin-right: 1rem;" class="fas fa-hotdog"></i>
      </div>
      <div>
        <h2 id="refeicoesCardapio"></h2>
        <label for="#">Total de refeições em cardápio</label>
      </div>
    </div>
    <div>
      <div>
        <i style="margin-right: 1rem;" class="fas fa-user-friends"></i>
      </div>
      <div>
        <h2 id="clientes"></h2>
        <label for="#">Total de clientes</label>
      </div>
    </div>
    <div>
      <div>
        <i style="margin-right: 1rem;" class="fas fa-shopping-bag"></i>
      </div>
      <div>
        <h2 id="reservas"></h2>
        <label for="#">Total de reservas</label>
      </div>
    </div>
    <div>
      <div>
        <i style="margin-right: 1rem;" class="fas fa-user"></i>
      </div>
      <div>
        <h2 id="usuarios"></h2>
        <label for="#">Total de usuários</label>
      </div>
    </div>
  </section>
  <section>
    2
  </section>
</body>
<script src="../../../../api/index.js"></script>
<script>
  let api = new Api()
  
  api.send({
    table: "refeicao",
    method: "all",
    data: {
      allPage: true
    }
  }).then(({ data })=>{
    refeicoesCardapio.innerText = data.length
  });

  api.send({
    table: "cliente",
    method: "all",
    data: {
      allPage: true
    }
  }).then(({ data })=>{
    clientes.innerText = data.length
  });

  api.send({
    table: "reserva",
    method: "all",
    data: {
      allPage: true
    }
  }).then(({ data })=>{
    reservas.innerText = data.length
  });

  api.send({
    table: "usuario",
    method: "all",
    data: {
      allPage: true
    }
  }).then(({ data })=>{
    usuarios.innerText = data.length
  });
</script>
</html>