<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../../src/css/formBs.min.css">
  <link rel="stylesheet" href="../../../../src/css/tables.css">
  <link rel="stylesheet" href="../../../css/reactBsTable.css">
  <link rel="stylesheet" href="../../../../src/components/swiper/swiper.min.css">
  <link rel="stylesheet" href="../../../../assets/font/fontawesome-free/css/all.css">
  <link rel="shortcut icon" href="../../../../assets/img/Cloche_food_kitchen_restaurant_icon-512.png"
    type="image/x-icon">
  <title>Restaurante | Dashboard</title>
</head>

<body>
  <section>
    <div>
      <div>
        <strong style="color: #ccc;">Menu</strong>
      </div>
      <div>
        <ul>
          <li label="refeicao" active="true">Refeições</li>
          <li label="reserva">Reservas</li>
          <li label="pessoa">Pessoas</li>
          <li label="cliente">Clientes</li>
          <li label="usuario">Usuários</li>
          <small style="color: #ccc;">Auxiliares</small>
          <li label="listareserva">Lista de Reserva</li>
          <li label="notificacaoReseva">Notificações</li>
          <li label="visualizacao">Visualização</li>
        </ul>
      </div>
    </div>
  </section>
  <section id="tableConatiner"></section>
</body>
<script src="../../../components/crudTableWeb/index.js"></script>
<script src="../../../../api/index.js"></script>
<script>
  let api = new Api()

  function getPessoa(containerId) {
    api.send({
      table: "pessoa",
      method: "all",
      data: {
        allPage: true
      }
    }).then(({ data })=>{
      let op = null
      data.map(({ id, nome }) => {
        if(op !== null)
          op += `<option value="${id}">${nome}</option>`
        else
          op = `<option value="${id}">${nome}</option>`
      })
      containerId.innerHTML = `<optgroup label="pessoa">${op}</optgroup>`
    })
  }

  function getUsuario(containerId) {
      api.send({
        table: "usuario",
        method: "all",
        data: {
          allPage: true
        }
      }).then(({ data }) => {
        let op = null
        data.map(({ id, nome }) => {
          if (op !== null)
            op += `<option value="${id}">${nome}</option>`
          else
            op = `<option value="${id}">${nome}</option>`
        })
        containerId.innerHTML = `<optgroup label="usuário">${op}</optgroup>`
      })
    }

  const crudTableWeb = new CrudTable();

  function onDelete(data){
    
  }
  function onSelected(data) {

  }
  

  let navItem = document.querySelectorAll('body>section:first-child>div>div>ul>li')
  

  const refeicoesForm = (`
<div class="form_container">
       <div class="form__group">
         <input type="file" id="foto"/>
         </div>

         <label for="bidoc" class="form__label">Copia do BI</label>
       </div>
       <div class="product-from">
         <div>
           <div class='form__group'>
             <input type='text' class='form__input' name='nome' id='nome' placeholder='Nome' required />
             <label class='form__label'>Nome</label>
           </div>
           <div class='form__group'>
             <input type='number' class='form__input' name='preco' id='preco' placeholder='Preço' required />
             <label class='form__label'>Preço</label>
           </div>
         </div>
         <div>
           <div class='form__group'>
             <select id="categoria" class='form__input'>
               <optgroup label="categoria">
                 <option value="matabicho">Matabicho</option>
                 <option value="almoço">Almoço</option>
                 <option value="jantar">jantar</option>
                 <option value="lanche">lanche</option>
               </optgroup>
             </select>
             <label class='form__label'>Categoria</label>
           </div>
           <div class='form__group'></div>
         </div>
         <div>
           <div class='form__group'>
             <textarea class='form__input' name='descricao' id='descricao' placeholder='Descrição' required></textarea>
             <label class='form__label'>Descrição</label>
           </div>
           <div class='form__group'></div>
         </div>
       </div>
       <div class="add-buttons-conatiner">
         <button class="btn-add-item" onClick="adicionarDados('refeicao',{
            nome: nome.value,
            categoria: categoria.value,
            preco: preco.value,
            descricao: descricao.value,
            foto: foto.files[0]
         })">Adicionar</button>
         <button class="btn-clear-item">Limpar</button>
       </div>
  </div>
  `)

  const pessoaForm = (`
<div class="form_container">
       <div class="form__group">
         <input type="file" id="foto"/>
         </div>

         <label for="bidoc" class="form__label">Copia do BI</label>
       </div>
       <div class="product-from">
         <div>
           <div class='form__group'>
             <input type='text' class='form__input' name='nomePessoa' id='nomePessoa' placeholder='Nome' required />
             <label class='form__label'>Nome</label>
           </div>
           <div class='form__group'>
             <input type='text' class='form__input' name='bi' id='bi' placeholder='Nº BI' required />
             <label class='form__label'>BI</label>
           </div>
         </div>
         <div>
           <div class='form__group'>
             <select id="estadocivil" class='form__input'>
               <optgroup label="Estado civil">
                 <option value="Solteiro">Solteiro</option>
                 <option value="Casado">Casado</option>
                 <option value="Divorciado">Divorciado</option>
                 <option value="Outro">Outro</option>
               </optgroup>
             </select>
             <label class='form__label'>Estado civil</label>
           </div>
           <div class='form__group'>
             <input type='date' class='form__input' name='date' id='aniversario' required />
             <label class='form__label'>Aniversário</label>
           </div>
         </div>
         <div>
           <div class='form__group'>
             <input type='text' class='form__input' name='endereço' id='endereco' placeholder='Endereço' required />
             <label class='form__label'>Endereço</label>
           </div>
           <div class='form__group'>
             <select id="sexo" class='form__input'>
               <optgroup label="sexo">
                 <option value="Masculino">Masculino</option>
                 <option value="Feminino">Feminino</option>
               </optgroup>
             </select>
             <label class='form__label'>Sexo</label>
           </div>
         </div>
         <div>
           <div class='form__group'>
             <input type='text' class='form__input' name='telefone1' id='telefone1' placeholder='Telefone 1' required />
             <label class='form__label'>Telefone 1</label>
           </div>
           <div class='form__group'>
             <input type='text' class='form__input' name='telefone2' id='telefone2' placeholder='Telefone 2' required />
             <label class='form__label'>Telefone 2</el>
           </div>
         </div>
       </div>
       <div class="add-buttons-conatiner">
         <button class="btn-add-item" onClick="adicionarDados('pessoa',{
            nome: nomePessoa.value,
            bi: bi.value,
            estadocivil: estadocivil.value,
            foto: foto.files[0],
            aniversario: aniversario.value,
            endereco: endereco.value,
            sexo: sexo.value,
            telefone1: telefone1.value,
            telefone2: telefone2.value
         })">Adicionar</button>
         <button class="btn-clear-item">Limpar</button>
       </div>
  </div>
  `)

  const usuarioForm = (`
<div class="form_container">
       <div class="product-from">
         <div>
           <div class='form__group'>
             <input type='text' class='form__input' name='nomeUsuario' id='nomeUsuario' placeholder='Nome' required />
             <label class='form__label'>Nome</label>
           </div>
           <div class='form__group'>
             <input type='password' class='form__input' name='senha' id='senha' placeholder='senha' required />
             <label class='form__label'>Senha</label>
           </div>
         </div>
         <div>
           <div class='form__group'>
             <input type='password' class='form__input' name='confirmarsenha' id='confirmarsenha' placeholder='Confirmar senha' required />
             <label class='form__label'>Confirmar senha</label>
           </div>
           <div class='form__group'>
             <select id="acesso" class='form__input'>
               <optgroup label="acesso">
                  <option value="cliente">Cliente</option>
                  <option value="gestor">Gestor</option>
                  <option value="administrador">Administrador</option>
               </optgroup>
             </select>
             <label class='form__label'>Acesso</label>
           </div>
         </div>
         <div>
            <div class='form__group'>
             <input type='email' class='form__input' name='email' id='emailRecuperacao' placeholder='Email de recuperação' required />
             <label class='form__label'>Email de recuperaçao</label>
            </div>
            <div class='form__group'>
             <select id="pessoaId" onfocus="getPessoa(pessoaId)" class='form__input'>
             </select>
            <label class='form__label'>Pessoa</label>
            </div>
         </div>
       </div>
       <div class="add-buttons-conatiner">
         <button class="btn-add-item" onClick="adicionarDados('usuario',{
            nome: nomeUsuario.value,
            senha: senha.value,
            emailRecuperacao: emailRecuperacao.value,
            pessoaId: pessoaId.value,
            acesso: acesso.value
         })">Adicionar</button>
         <button class="btn-clear-item">Limpar</button>
       </div>
  </div>
  `)

  const clienteForm = (`
<div class="form_container">
       <div class="product-from">
         <div>
          <div class='form__group'>
             <select id="pessoaId" onfocus="getPessoa(pessoaId)" class='form__input'>
             </select>
            <label class='form__label'>Pessoa</label>
          </div>
           <div class='form__group'>
             <select id="categoria" class='form__input'>
               <optgroup label="categoria">
                  <option value="normal">Normal</option>
                  <option value="vip">Vip</option>
               </optgroup>
             </select>
             <label class='form__label'>Categoria</label>
           </div>
         </div>
       </div>
       <div class="add-buttons-conatiner">
         <button class="btn-add-item" onClick="adicionarDados('cliente',{
            pessoaId: pessoaId.value,
            categoria: categoria.value
         })">Adicionar</button>
         <button class="btn-clear-item">Limpar</button>
       </div>
  </div>
  `)

  const reservaForm = (`
<div class="form_container">
       <div class="product-from">
         <div>
          <div class='form__group'>
             <select id="usuarioId" onfocus="getUsuario(usuarioId)" class='form__input'>
             </select>
            <label class='form__label'>Usuário</label>
          </div>
           <div class='form__group'>
             <select id="estado" class='form__input'>
               <optgroup label="categoria">
                  <option value="0">Pendente</option>
                  <option value="1">Sucedido</option>
               </optgroup>
             </select>
             <label class='form__label'>Estado</label>
           </div>
         </div>
         <div>
          <div class='form__group'>
             <input type="date" id="dataReserva" class='form__input'>
            <label class='form__label'>Data</label>
          </div>
          <div></div>
         </div>
       </div>
       <div class="add-buttons-conatiner">
         <button class="btn-add-item" onClick="adicionarDados('reserva',{
            dataReserva: dataReserva.value,
            usuarioId: usuarioId.value,
            estado: estado.value
         })">Adicionar</button>
         <button class="btn-clear-item">Limpar</button>
       </div>
  </div>
  `)

const autoForm = (`
<div class="form_container">
  <div class="product-from">
     <span>
        <i class="fas fa-robot" style="margin-right: 1rem; color: #c4112f"></i>Formulário de cadastro automático
     </span>
  </div>
</div>
`)

  adicionarDados = async (table,values) =>{
    let data = await api.send({
      table: table,
      method: "add",
      data: values
    })
    console.log(data,values)
  }

  api.send({
    table: "refeicao",
    method: "all",
    data: {
      allPage: true
    }
  }).then(item=>{

    let res = crudTableWeb.init(
        item?.data,
        refeicoesForm,
        'Refeições',
        true,
        action = {
          onDelete
        }
    );

    tableConatiner.innerHTML = res

  })

  clearTarget = () => navItem.forEach(element => element.setAttribute('active', false)) // desativa a isTargt dos links

  navItem.forEach(element =>
    element.addEventListener('click', async () => {
      clearTarget()
      element.setAttribute('active', true)

      let { innerText } = element
    

      try {
        let { data } = await api.send({
          table: element.getAttribute('label').toLowerCase(),
          method: "all",
          data: {
          allPage: true
          }
        })
        //tableConatiner.innerHTML
        let res = crudTableWeb.init(
          data,
          innerText == 'Refeições' ? (
            refeicoesForm
          ) :innerText == 'Reservas'?(
            reservaForm
          ) :innerText == 'Pessoas'?(
            pessoaForm
          ):innerText == 'Clientes'?(
            clienteForm
          ):innerText == 'Usuários'?(
            usuarioForm
          ):(
            autoForm
          ),
          innerText,
          true,
          action = {
            onDelete
          }
      );

      tableConatiner.innerHTML = ``

      tableConatiner.innerHTML = res

      } catch (error) {
        tableConatiner.innerHTML = `Houve um erro ao efectuar a consulta <p style="color: red">${error.message}</>`
      }
      
    })
  ) // faz a activação dos eventos onclick nos linck 
</script>
</html>