<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../../src/css/formBs.min.css">
  <link rel="stylesheet" href="../../../../src/css/login.css">
  <link rel="stylesheet" href="../../../../src/components/swiper/swiper.min.css">
  <link rel="stylesheet" href="../../../../assets/font/fontawesome-free/css/all.css">
  <link rel="shortcut icon" href="../../../../assets/img/Cloche_food_kitchen_restaurant_icon-512.png" type="image/x-icon">
  <title>Restaurante | Login</title>
  <script>
    if(JSON.parse(sessionStorage.getItem('user'))) window.location.href = window.location.href.replace('login/','')+"dashboard/"
</script>
</head>
<body>
  <form action="../dashboard/" method="post">
    <div class="logo-box">
      <span>
        <img src="../../../../assets/img/Cloche_food_kitchen_restaurant_icon-512.png" alt="">
      </span>
      <strong>Restaurante</strong>
    </div>
    <div>
       <div class='form__group'>
         <input type='email' class='form__input' name='email' id='email' placeholder='Email' required />
         <label class='form__label'>Email</label>
       </div>
        <div class='form__group'>
          <input type='password' class='form__input' name='password' id='password' placeholder='Senha' required />
          <label class='form__label'>Senha</label>
        </div>
         <div class='form__group'>
           <button type="button" class="btn-send">Entrar</button>
         </div>
    </div>
  </form>
  <script src="../../../../api/index.js"></script>
  <script src="./main.js"></script>
</body>
</html>