@import './scroll.css';

:root {
    --color-primary: #c4112f;
    --color-primary-light: #fef1e1;
    --color-primary-dark: #251a06;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;


    --shadow-dark: 0 2rem 6rem rgba(255, 255, 255, .3);
    --shadow-light: 0 1rem 2.5rem rgba(0, 0, 0, .06);

    --line: 1px solid var(--color-grey-light-2);
}

.lblInfo{
    color: red;
    font: 11px;;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*::after,
*::before {
    position: relative;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-position: top;
    font-family: Segoe WPC, Segoe UI, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

body>* {
    max-width: 100%;
}

body>*:first-child {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    flex-grow: 2;
}

body>*:nth-child(2) {
    position: relative;
    flex-grow: 4;
    margin-left: 30rem;
}

aside {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 100vh;
}

.navigation {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    left: -110%;
    transition: left .5s;
}

.navigation>div {
    display: flex;
    align-items: center;
}

.navigation>div:first-child {
    flex: 1;
    justify-content: center;
}

.navigation>div:last-child {
    flex: 2;
    flex-direction: column;
}

.navigation>div:last-child>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navigation>div:last-child>ul>li {
    padding: 1rem 0;
}

.navigation>div:last-child>ul>li>a:link,
.navigation>div:last-child>ul>li>a:visited {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navigation-list-footer {
    margin-top: 1rem;
}

.navigation-img-container>img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: solid 2px var(--color-primary);
    border-style: dashed;
    padding: .5rem;
}

aside>div:first-child {
    color: #000;
    font-style: italic;
}

.logo-box {
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
}

.logo-box img {
    width: 3rem;
    margin-right: 1rem;
}

aside>div:nth-child(2) {
    position: relative;
    flex: 1;
    min-width: 100%;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, .7);
    padding: 0 1rem;
}

header>nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: var(--line);
}

header>nav>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex: 1;
}

header>nav>ul>li>a:link,
header>nav>ul>li>a:visited {
    padding: 1rem;
    color: var(--color-primary-dark);
    text-decoration: none;
    text-transform: capitalize;
}

header>nav>ul>li>a[isTarget="true"] {
    color: var(--color-primary);
}

header>nav>div {
    display: flex;
    flex-direction: row;
}

header>nav>div>i {
    cursor: pointer;
    padding: 1rem;
    color: var(--color-primary);
}

.swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-container img {
    width: 80%;
    z-index: 1;
}

.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide::before {
    content: attr(product);
    position: absolute;
    top: 15%;
    padding: 20px 0;
    font-size: 38pt;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .2);
    right: 0;
    width: 70%;
    text-align: left;
}

main>section>div {
    min-height: 90vh;
    padding: 3rem 2.5rem;
}

main>section>div:first-child {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

main>section>div:first-child h4 {
    font-size: 1.5rem;
}

main>section>div:first-child h1 {
    font-size: 4.5rem;
    color: var(--color-primary);
}

main>section>div:first-child button {
    margin-top: 1.5rem;
    cursor: pointer;
    transition: all .3s;
    outline: none;
}

main>section>div:first-child button:hover {
    background-color: var(--color-primary);
    color: #fff;
}

main>section>div:first-child button i {
    margin-left: 1rem;
}

.cardapio {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.cardapio>div:first-child {
    margin: 4rem 0;
}

.cardapio>div:first-child button {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 4px;
    border: solid 1px var(--color-primary);
    padding: .5rem 1rem;
    color: var(--color-primary);
}

.cardapio>div:first-child button:not(:last-child) {
    margin-right: 1rem;
}

.cardapio>div:first-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardapio>div:last-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.food-card {
    width: 200px;
    height: 280px;
    box-shadow: var(--shadow-light);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.food-card:not(:last-child) {
    margin-right: 2rem;
}

.food-card>div:first-child {
    flex-grow: 2;
    border-bottom: var(--line);
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-card>div:first-child img {
    width: 100%;
}

.food-card>div:last-child {
    display: flex;
    flex-direction: row;
}

.food-card>div:last-child h4 {
    text-transform: capitalize;
    color: var(--color-primary);
}

.food-card>div:last-child>div:first-child {
    flex: 1;
}

.food-card>div:last-child>div {
    display: flex;
    flex-direction: column;
}

.food-card>div:last-child>div:last-child {
    justify-content: center;
    align-items: center;
}

.food-card>div:last-child>div:last-child>span:last-child {
    color: #ccc;
}

.localizacao {
    display: flex;
    flex-direction: row;
}

.localizacao>div {
    margin-top: 5rem;
    flex: 1;
    height: 100%;
}

.localizacao>div {
    flex: 1;
}

.localizacao>div:last-child {
    flex: 2;
}

footer {
    margin: 0 2.5rem;
    border-top: var(--line);
    display: flex;
    flex-direction: column;
}

footer>div:first-child {
    flex: 1;
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
}

footer>div:first-child>div {
    flex: 1;
}

footer>div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    padding: 1rem;
}

.clock-area {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.clock-area>div:first-child {
    color: #ccc;
}

.clock-area>div:last-child {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    border-left: var(--line);
}

.clock-area>div:last-child>span {
    display: flex;
    flex-direction: column;
}

.clock-area>div:last-child>span>strong {
    color: #ccc;
}

.clock-area>div:last-child>span:not(:last-child) {
    margin-bottom: 1rem;
}

.about {
    position: relative;
    width: 70%;
    top: 2rem;
}

.about::before {
    content: "\201c";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    line-height: 1;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: -1;
}

.btn-send {
    padding: .5rem 0;
    border: solid 1px var(--color-primary);
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    color: var(--color-primary);
}

.form_container {
    display: flex;
    flex-direction: column;
}

.product-from {
    display: flex;
    flex-direction: column;
}

.product-from>div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.product-from>div>div {
    flex: 1;
}

.product-from>div>div:not(:last-child) {
    margin-right: 2rem;
}

.shopping-cart {
    position: relative;
}

.food-show {
    position: relative;
    width: 60vw;
    display: flex;
    flex-direction: row;
}

.food-show>div:last-child {
    margin-top: 1rem;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.food-show>div:last-child>* {
    flex: 1;
}

.food-show>div:last-child>*:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-show>div:last-child>*:first-child img {
    width: 90%;
    height: auto;
}

.food-show>div:last-child>*:last-child {
    display: flex;
    flex-direction: column;
}

.food-show>div:last-child>*:last-child p {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.qt-input {
    border: solid 2px var(--color-primary);
    border-radius: 100px;
    display: flex;
    align-items: center;
    width: 340px;
    overflow: hidden;
    background-color: var(--color-primary);
    cursor: pointer;
}

.qt-input>input {
    outline: none;
    padding: 1rem 2rem;
    border: none;
    flex: 1;
}

.qt-input>button {
    background-color: var(--color-primary);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .7rem;
    flex: 1;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.qt-input>button i {
    margin-left: .3rem;
}

.n-shopping-cart {
    background-color: var(--color-primary);
    padding: .2rem;
    min-width: .5rem;
    min-height: .5rem;
    border-radius: 50%;
    font-size: .6rem;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: .3rem;
    top: .35rem;
    border: solid 2px #fff;
    color: #fff;
}

.shopping-cart-show {
    position: relative;
    width: 60vw;
    display: flex;
    flex-direction: row;
}

.shopping-cart-show>div:last-child {
    margin-top: 1rem;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.shopping-cart-show>div:last-child>* {
    flex: 1;
}

.shopping-cart-show>div:last-child>*:first-child {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    border-right: var(--line);
}

.shopping-cart-show>div:last-child>*:first-child img {
    width: 90%;
    height: auto;
}

.shopping-cart-show>div:last-child>*:last-child {
    display: flex;
    flex-direction: column;
}

.shopping-cart-show>div:last-child>*:last-child p {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.reserva-list{
    position: absolute;
    list-style: none;
    height: 100%;
    width: 95%;
    overflow-y: auto;
}
.reserva-list>li:not(:last-child){
    margin-bottom: 1rem;
}
.reserva-list>li:nth-child(2n){
    background-color: rgba(0, 0, 0, .01);
}
.reserva-list>li>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    border-radius: 8px;
}
.reserva-list>li>div>*:nth-child(2){
    flex: 1;
    display: flex;
    flex-direction: column;
}
.reserva-list>li>div>*:nth-child(2)>span:first-child{
    font-weight: bold;
    font-size: 1rem;
}
.reserva-list>li>div>*:first-child img{
    width: 7rem !important;
    height: auto;
    margin-right: 1rem;
}
.reserva-list>li>div i{
    margin-left: .5rem;
    padding-left: .5rem;
    color: var(--color-primary);
    border-left: var(--line);
}
.cardapio>div:first-child button[active="true"]{
    color: #fff;
    background-color: var(--color-primary);
}
header .logo-box{
    display: none;
}
@media screen and (max-width: 500px) {
    .cardapio>div:last-child{
        justify-content: center;
    }
    .food-card:not(:last-child){
        margin-right: 0;
    }
}
@media screen and (max-width: 1100px) {
    /* One or more CSS rules to apply when the query is satisfied */
    aside{
        left: 0;
        top: 0;
        width: 100%;
    }
    .cardapio>div:first-child{
        justify-content: center;
    }
    .cardapio>div:first-child button{
        margin-bottom: 1rem;
    }
    .navigation{
        background-color: #fff;
    }
    .navigation>div:last-child>ul{
        margin-top: 8rem;
    }
    main>section>div:first-child .sign-out-button {
        background-color: transparent !important;
        border: solid 2px #fff !important;
        color: #fff !important;
    }
    main>section>div:first-child{
        display: none;
        align-items: center;
    }
    aside>div:nth-child(2){
        margin-bottom: 2rem;
    }
    header .logo-box {
        display: flex;
        flex-grow: 1;
        padding: 0;
    }
    header{
        background-color: #fff;
        z-index: 10;
    }
    header>nav>ul{
        position: absolute;
        z-index: 2;
        border-bottom: var(--line);
        top: 15rem;
        left: 50%;
        margin: 0;
        padding: 1rem 0;
        left: -110%;
        transform: translate(-50%,0);
        flex-direction: column;
        width: 80%;
        transition: left .55s;
    }
    main>section>div:first-child h1{
        color: #fff;
    }
    main>section>*:nth-child(2){
        margin-top: 95vh;
    }
    main>section>*:not(:first-child){
        background-color: #fff !important;
    }
    body>*:nth-child(2){
        margin-left: 0;
    }
    footer{
        background-color: #fff !important;
        margin: 0;
        bottom: 0;
        padding-top: 2.5rem;
    }
    footer>div:first-child{
        flex-direction: column;
    }
    footer>div:first-child>div{
        margin-bottom: 5rem;
    }
    .localizacao{
        flex-direction: column;
    }
    .food-show>div:last-child{
        flex-direction: column;
    }
}